.body {
  background: #d8d4b4;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}
.bar {
  fill: #88c6a3;
}
.chart {
  background: #2a593f;
}
.bar:hover {
  fill: #689e80;
}
.title {
  color: #2a593f;
  padding-bottom: 1rem;
}

.tag {
  background: #d8d4b4;
  color: #2a593f;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 1rem;
  pointer-events: none;
}
.visible {
  visibility: visible;
}
.tag:hover {
  fill: #689e80;
}
text,
.yAxis,
.xAxis {
  color: #ece4d4;
}
.label {
  fill: #ece4d4;
  transform: rotate(90deg);
}
