* {
  margin: 0;
  padding: 0;
}
.body {
  /* background: #eca869; */
  background: #f5f5dc;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.title {
  color: #b08bbb;
  text-shadow: 2px 2px 0px black;
  margin-bottom: 0.5rem;
}
.chart {
  background: #b5d5c5;
  box-shadow: 10px 10px 0px #b08bbb;
}

.tag {
  background: #b08bbb;
  color: #f5f5dc;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 4px 4px 0px #eca869;
  padding: 0.5rem;
  text-align: left;
  pointer-events: none;
}

.dot {
  fill: #b08bbb;
}
.dot:hover {
  fill: #eca869;
}
.visible {
  visibility: visible;
}

.tick {
  font-size: 0.9rem;
  font-weight: bold;
}
.legend text {
  font-size: 1rem;
}
text {
  font-size: 1rem;
}
